Host kinvolk-thinkpad
  HostName kinvolk-thinkpad
  IdentityFile ~/.ssh/id_rsa
  User suraj

Host azure-dev-box
  HostName azure-dev-box
  IdentityFile ~/.ssh/id_rsa.cvm.work
  User surajaz

Host github.com
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519.github.personal
  IdentityFile ~/.ssh/id_rsa.github.work
